sqlalchemy==1.4.24
psycopg2-binary==2.9.1
fastapi-users[sqlalchemy]==8.1.0
alembic==1.7.3
tenacity==8.0.1
sse-starlette==0.7.2
pydantic-sqlalchemy==0.0.9
argo-workflows==5.0.0
python-dateutil==2.8.2
certifi==2021.5.30
urllib3==1.26.7
six==1.16.0
kubernetes==18.20.0